@media (min-width: 560px) {
    .chat-wrapper {
        font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        background: #00a6bb;
        padding: 20px;
        margin: 10px;
        box-shadow: 2px 2px 2px 0px #00000017;
        min-width:450px;
        position: absolute;
        z-index: 401;
        right: 0px;
    }
    .message-box {
        width: calc(100% - 20px);
        display: inline-block;
        height: 300px;
        background: #fff;
        box-shadow: inset 0px 0px 2px #00000017;
        overflow: auto;
        padding: 10px;
    }
    button.send-message {
        border: none;
        padding: 5px 15px;
        background: #11e0fb;
        box-shadow: 2px 2px 2px #0000001c;
    }
    .user-panel {
        margin-top: 10px;
    }
    input[type=text].name {
        width:20%;
    }
    input[type=text].message {
        width:60%;
    }

    input[type=text]{
        border: none;
        padding: 5px 5px;
        box-shadow: 2px 2px 2px #0000001c;
    }
}


@media (max-width: 560px) {
    .chat-wrapper {
        font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
        background: #00a6bb;
        padding: 20px;
        box-shadow: 2px 2px 2px 0px #00000017;
        width: calc(100% - 40px);
        position: absolute;
        z-index: 401;
        right: 0px;
    }
    .leaflet-control-zoom.leaflet-bar.leaflet-control{
        display: none;
    }
    .message-box {
        width: calc(100% - 20px);
        display: inline-block;
        height: 200px;
        background: #fff;
        box-shadow: inset 0px 0px 2px #00000017;
        overflow: auto;
        padding: 10px;
    }
    button.send-message {
        border: none;
        width:100%;
        margin-top:5px;
        padding: 5px 15px;
        background: #11e0fb;
        box-shadow: 2px 2px 2px #0000001c;

    }
    .user-panel {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }
    input[type=text].name {
        width:30%;
    }
    input[type=text].message {
        width: calc(70% - 25px);
        margin-left: 5px;
    }

    input[type=text]{

        border: none;
        padding: 5px 5px;
        box-shadow: 2px 2px 2px #0000001c;
    }
}

@media (max-height: 450px) {
    .message-box {
        width: calc(100% - 20px);
        display: inline-block;
        height: 200px;
        background: #fff;
        box-shadow: inset 0px 0px 2px #00000017;
        overflow: auto;
        padding: 10px;
    }
}
#no-pin {
    position: absolute;
    z-index: 401;
    background: white;
    padding: 5px;
    border: 3px solid #00a6bb;
    margin: 20px;
    right: 0px;
}
body,
html {
    height: 99%;
    overflow-y: hidden;
    margin: 0px;
}

#map {
    width: 100%;
    height: 100%;
    position: fixed;
}
